<!DOCTYPE html>
<html ng-app="vehicleApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>ng-slide-down demo</title>
  <script src="angular.js"></script>
 <!-- <script src="myapp.js"></script> -->
  <script src="ng-slide-down.js"></script>
  <link rel="stylesheet" href="style.css"/>
</head>
<body  >
<div ng-app="vehicleApp" ng-controller="VehicleController" ng-cloak>
  <div ng-repeat="vehicle in vehicles">
  <div ng-click="widgetExpandedLazy = !widgetExpandedLazy" class="head">


        {{ vehicle.name }}

  </div>
  <div ng-slide-down="widgetExpandedLazy" lazy-render duration="1">
    <div class="content">
      <ul>
        <li ng-repeat="(attribute, value) in vehicle.parts">
          {{attribute}} ({{value}})
        </li>
      </ul>
    </div>
    </div>
  </div>
    </div>

  <script>
    // Een controller is gewoon een JavaScript-functie
    /*
    * (function() {
     "use strict";
     angular.module("vehicleApp", ['ng-slide-down'])
     .controller('MyCtrl', function($scope) {});

     }).call(this);
     */
    (function() {
      "use strict";
      angular.module("vehicleApp", ['ng-slide-down'])
              .controller('VehicleController',
            function ($scope) {
              $scope.vehicles = [
                {
                  id: 0,
                  name: "car",
                  parts: {
                    wheels: 4,
                    doors: 4
                  }
                },
                {
                  id: 1,
                  name: "plane",
                  parts: {
                    wings: 2,
                    doors: 2
                  }
                },
                {
                  id: 2,
                  name: "boat",
                  parts: {
                    doors: 1
                  }
                }];
            });
    }).call(this);
  </script>
</body>
</html>
