
<div>

  <div  ng-controller="vehicleController as vehicleCtrl" ng-cloak>
    <div ng-repeat="vehicle in vehicleCtrl.vehicles">
        <div ng-click="widgetExpandedLazy = !widgetExpandedLazy" class="head">


            {{ vehicle.name }}

        </div>
        <div ng-slide-down="widgetExpandedLazy" lazy-render duration="1">
            <div class="content">
                <ul>
                    <li ng-repeat="(attribute, value) in vehicle.parts">
                        {{attribute}} ({{value}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>
<!--

<div  ng-controller="vehicleController as vehicleCtrl" ng-cloak>
    <div ng-repeat="vehicle in vehicleCtrl.vehicles">
            {{ vehicle.name }}
            <ul>
                <li ng-repeat="(attribute, value) in vehicle.parts">
                    {{attribute}} ({{value}})
                </li>
            </ul>
        </div>
    </div>
</div>
-->