
<div  ng-controller="MyCtrl"  ng-cloak>
        <div ng-click="widgetExpandedLazy = !widgetExpandedLazy" class="head" ng-repeat="vehicle in homeCtrl.vehicles">
            {{ vehicle.name }}
        </div>
        <div ng-slide-down="widgetExpandedLazy" lazy-render duration="1">
            <div class="content">
                <ul>
                    <li ng-repeat="(attribute, value) in vehicle.parts">
                        {{attribute}} ({{value}})
                    </li>
                </ul>
            </div>
        </div>

      </div>
<div>

        <div ng-repeat="vehicle in homeCtrl.vehicles">
            {{ vehicle.name }}
            <ul>
                <li ng-repeat="(attribute, value) in vehicle.parts">
                    {{attribute}} ({{value}})
                </li>
            </ul>
        </div>
    </div>
<div>

</div>

<!--
<div ng-app="vehicleApp" ng-controller="VehicleController">
    <div ng-repeat="vehicle in vehicles">
        {{ vehicle.name }}
        <ul>
            <li ng-repeat="(attribute, value) in vehicle.parts">
                {{attribute}} ({{value}})
            </li>
        </ul>
    </div>
</div>
-->