<!DOCTYPE html>
<html ng-app="vehicleApp">
<head>
    <meta charset="utf-8" />
    <title>Werken met Factory</title>


    <link rel="stylesheet" href="style.css"/>

</head>


<body>

<div class="container">
    <h1>Werken met een factory</h1>

    <div ng-view></div>

</div>
<hr>
 <h1> main html </h1>

<div  ng-controller="vehicleController as vehicleCtrl" ng-cloak>
    <div ng-repeat="vehicle in vehicleCtrl.vehicles">
        <div ng-click="widgetExpandedLazy = !widgetExpandedLazy" class="head">


            {{ vehicle.name }}

        </div>
        <div ng-slide-down="widgetExpandedLazy" lazy-render duration="1">
            <div class="content">
                <ul>
                    <li ng-repeat="(attribute, value) in vehicle.parts">
                        {{attribute}} ({{value}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- ***************-->
<!-- Vendor scripts -->
<!-- ***************-->
<script src="../js/vendor/angular/angular.js"></script>
<script src="../js/vendor/angular-route/angular-route.js"></script>
<script src="ng-slide-down.js"> </script>


<!-- ***************-->
<!-- Custom scripts -->
<!-- ***************-->

<script src="app/h5_Oef_4_app.js"></script>
<script src="controllers/h5_Oef_4_homeController2.js"></script>

<!-- Factory -->
<script src="services/H05_Oef4_Factory.js"></script>



</body>
</html>